---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/CKjolhede/little-esty-shop
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9f1ed5bcce293fcfb4840df9425243e9fcf325f16d3d23e75dbf7750268031bb"
      Last-Modified:
      - Sat, 28 May 2022 00:05:03 GMT
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '48'
      X-Ratelimit-Reset:
      - '1656961244'
      X-Ratelimit-Resource:
      - core
      X-Ratelimit-Used:
      - '12'
    body:
      encoding: ASCII-8BIT
      string: '{"id":502082758,"node_id":"R_kgDOHe0sxg","name":"little-esty-shop","full_name":"CKjolhede/little-esty-shop","private":false,"owner":{"login":"CKjolhede","id":87259963,"node_id":"MDQ6VXNlcjg3MjU5OTYz","avatar_url":"https://avatars.githubusercontent.com/u/87259963?v=4","gravatar_id":"","url":"https://api.github.com/users/CKjolhede","html_url":"https://github.com/CKjolhede","followers_url":"https://api.github.com/users/CKjolhede/followers","following_url":"https://api.github.com/users/CKjolhede/following{/other_user}","gists_url":"https://api.github.com/users/CKjolhede/gists{/gist_id}","starred_url":"https://api.github.com/users/CKjolhede/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/CKjolhede/subscriptions","organizations_url":"https://api.github.com/users/CKjolhede/orgs","repos_url":"https://api.github.com/users/CKjolhede/repos","events_url":"https://api.github.com/users/CKjolhede/events{/privacy}","received_events_url":"https://api.github.com/users/CKjolhede/received_events","type":"User","site_admin":false},"html_url":"https://github.com/CKjolhede/little-esty-shop","description":null,"fork":true,"url":"https://api.github.com/repos/CKjolhede/little-esty-shop","forks_url":"https://api.github.com/repos/CKjolhede/little-esty-shop/forks","keys_url":"https://api.github.com/repos/CKjolhede/little-esty-shop/keys{/key_id}","collaborators_url":"https://api.github.com/repos/CKjolhede/little-esty-shop/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/CKjolhede/little-esty-shop/teams","hooks_url":"https://api.github.com/repos/CKjolhede/little-esty-shop/hooks","issue_events_url":"https://api.github.com/repos/CKjolhede/little-esty-shop/issues/events{/number}","events_url":"https://api.github.com/repos/CKjolhede/little-esty-shop/events","assignees_url":"https://api.github.com/repos/CKjolhede/little-esty-shop/assignees{/user}","branches_url":"https://api.github.com/repos/CKjolhede/little-esty-shop/branches{/branch}","tags_url":"https://api.github.com/repos/CKjolhede/little-esty-shop/tags","blobs_url":"https://api.github.com/repos/CKjolhede/little-esty-shop/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/CKjolhede/little-esty-shop/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/CKjolhede/little-esty-shop/git/refs{/sha}","trees_url":"https://api.github.com/repos/CKjolhede/little-esty-shop/git/trees{/sha}","statuses_url":"https://api.github.com/repos/CKjolhede/little-esty-shop/statuses/{sha}","languages_url":"https://api.github.com/repos/CKjolhede/little-esty-shop/languages","stargazers_url":"https://api.github.com/repos/CKjolhede/little-esty-shop/stargazers","contributors_url":"https://api.github.com/repos/CKjolhede/little-esty-shop/contributors","subscribers_url":"https://api.github.com/repos/CKjolhede/little-esty-shop/subscribers","subscription_url":"https://api.github.com/repos/CKjolhede/little-esty-shop/subscription","commits_url":"https://api.github.com/repos/CKjolhede/little-esty-shop/commits{/sha}","git_commits_url":"https://api.github.com/repos/CKjolhede/little-esty-shop/git/commits{/sha}","comments_url":"https://api.github.com/repos/CKjolhede/little-esty-shop/comments{/number}","issue_comment_url":"https://api.github.com/repos/CKjolhede/little-esty-shop/issues/comments{/number}","contents_url":"https://api.github.com/repos/CKjolhede/little-esty-shop/contents/{+path}","compare_url":"https://api.github.com/repos/CKjolhede/little-esty-shop/compare/{base}...{head}","merges_url":"https://api.github.com/repos/CKjolhede/little-esty-shop/merges","archive_url":"https://api.github.com/repos/CKjolhede/little-esty-shop/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/CKjolhede/little-esty-shop/downloads","issues_url":"https://api.github.com/repos/CKjolhede/little-esty-shop/issues{/number}","pulls_url":"https://api.github.com/repos/CKjolhede/little-esty-shop/pulls{/number}","milestones_url":"https://api.github.com/repos/CKjolhede/little-esty-shop/milestones{/number}","notifications_url":"https://api.github.com/repos/CKjolhede/little-esty-shop/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/CKjolhede/little-esty-shop/labels{/name}","releases_url":"https://api.github.com/repos/CKjolhede/little-esty-shop/releases{/id}","deployments_url":"https://api.github.com/repos/CKjolhede/little-esty-shop/deployments","created_at":"2022-06-10T14:57:50Z","updated_at":"2022-05-28T00:05:03Z","pushed_at":"2022-06-10T03:58:59Z","git_url":"git://github.com/CKjolhede/little-esty-shop.git","ssh_url":"git@github.com:CKjolhede/little-esty-shop.git","clone_url":"https://github.com/CKjolhede/little-esty-shop.git","svn_url":"https://github.com/CKjolhede/little-esty-shop","homepage":"","size":1487,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":false,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"allow_forking":true,"is_template":false,"web_commit_signoff_required":false,"topics":[],"visibility":"public","forks":0,"open_issues":0,"watchers":0,"default_branch":"main","temp_clone_token":null,"parent":{"id":497118114,"node_id":"R_kgDOHaFrog","name":"little-esty-shop","full_name":"NickJacobsss/little-esty-shop","private":false,"owner":{"login":"NickJacobsss","id":101067754,"node_id":"U_kgDOBgYr6g","avatar_url":"https://avatars.githubusercontent.com/u/101067754?v=4","gravatar_id":"","url":"https://api.github.com/users/NickJacobsss","html_url":"https://github.com/NickJacobsss","followers_url":"https://api.github.com/users/NickJacobsss/followers","following_url":"https://api.github.com/users/Nick[...]
